<span>
  <script type="text/javascript">
    	$(function() {
        var d = <%= @item.to_a %>
        for (var i = 0; i < d.length; i++) for (var j = 0; j < d[i].length; j++) {if (d[i][j]=='nil') d[i][j] = null;}
        $.plot("#placeholder", d);
      });
  </script>
  <div id="placeholder" style="width: 600px; height: 300px"></div>
</span>