<span>
  <form action="/viewer" method="get" >
  <select name="item_id">
    <option value="" selected>--Please select--</option>
    <optgroup lavel="OECD Economic Outlook Annex Tables:">
      <option value="1" >Demand and output</option>
      <option value="2" >Wages, Costs, Unemployment and Inflation</option>
      <option value="3" >Key Supply Side Data</option>
      <option value="4" >Saving</option>
      <option value="5" >Fiscal balances and public indebtedness</option>
      <option value="6" >Interest Rates and Exchange Rates</option>
      <option value="7" >External Trade and Payments</option>
      <option value="8" >Other Background Data</option>
    </optgroup>
  </select>
  <input type="submit" value="Select file to view" >
  </form>
</span>