<span>
  <div id="table"></div>
  <script>
    var n_a = <%= @res.to_a.map{|x| x.map{|y| if y==nil then y='nil' else y=y end }} %>;
    for (var i = 0; i < n_a.length; i++) for (var j = 0; j < n_a[i].length; j++) {if (n_a[i][j]=='nil') n_a[i][j] = null;}
    var $container = $("#table");
    $container.handsontable({
      data: n_a,
      startRows: 15,
      startCols: 15,
      colHeaders: true,
      rowHeaders: true,
      contextMenu: true,
      minSpareRows: 1
    });  
  </script>
</span>