<span>
  <div id="table"></div>
  <script>
    var n_a = <%= @res %>;
    var $container = $("#table");
    $container.handsontable({
      data: n_a,
      startRows: 15,
      startCols: 15,
      colHeaders: true,
      rowHeaders: true,
      contextMenu: true,
      minSpareRows: 1
    });  
  </script>
</span>