<span>
  <div id="table"></div>
  <script>
    var n_a = <%= @res %>;
    for (var h = 0; h < n_a.length; h++) 
          for (var i = 0; i < n_a[h].length; i++) 
            {if (n_a[h][i] =='null') {n_a[h][i] = null;} else {n_a[h][i] = n_a[h][i];} }    
    var $container = $("#table");
    $container.handsontable({
      data: n_a,
      startRows: 15,
      startCols: 15,
      colHeaders: true,
      rowHeaders: true,
      contextMenu: true,
      minSpareRows: 1,
      minSpareCols: 1
    });  
  </script>
</span>